<div class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">検索</div>
  </div>
  <div class="panel-body">
    <%= search_form_for @q do |f| %>
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <%= f.label :name_cont, "店名" %>
            <%= f.text_field :name_cont, class: "form-control"%>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="form-group">
            <%= f.label :genre_tags_id_in, "ジャンル" %><br/>
            <%= f.collection_check_boxes(:genre_tags_id_in, GenreTag.all, :id, :tag_name ) do |t|  %>
              <% t.label { t.check_box + t.text + '　' } %>
            <% end %>
          </div>
        </div>
        <div class="col-md-12 col-xs-12">
          <div class="form-inline">
            <%= f.label :created_at, "作成日" %>
            <%= f.date_select :created_at_gt, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>〜
            <%= f.date_select :created_at_lt, {include_blank: true, use_month_numbers: true, date_separator: ' / '}, class: "form-control" %>
          </div>
        </div>
      </div>
      <%= f.submit '検索', class: "btn btn-primary" %>
      <%= link_to 'クリア', shops_path, class: "btn btn-default" %>
    <% end %>
  </div>
</div>
