<% if logged_in? %>
  <% set_meta_tags :title => 'Shop一覧', :reverse => true %>
  <div class="container">
    <h1>Shop一覧</h1>

    <%= render 'search' %>

    <%= link_to "新規登録", new_shop_path, class: "btn btn-primary" %>
    <%= link_to "ジャンルを新規登録", new_genre_tag_path, class: "btn btn-success" %><br>

    <%= page_entries_info @shops %><br><%= paginate @shops %>
    <div class="row">
      <table class="table table-bordered table-striped">
        <tr>
          <th width="15%">店舗名</th>
          <th width="10%">評価</th>
          <th width="10%">エリア</th>
          <th width="20%">ジャンル</th>
          <th width="30%">特徴</th>
          <th width="10%">作成日</th>
          <th width="5%">詳細<br>変更<br>削除</th>
        </tr>
        <% @shops.each do |shop| %>
          <tr>
            <td><%= shop.name %></td>
            <td><%= shop.rate %></td>
            <td><%= shop.area %></td>
            <td>
            <% str_list = [] %>
            <% @shops_genre_tags.each do |item| %>
              <% if shop.id == item.shop_id %>
                <% str_list << @genre_tags.find_by(id: item.genre_tag_id).tag_name %>
              <% end %>
            <% end %>
            <%= str_list.join(', ') %>
            </td>
            <td><%= shop.comment %></td>
            <td><%= shop.created_at.year %>年<%= shop.created_at.month %>月<%= shop.created_at.day %>日</td>
            <td>
              <%= link_to "詳細", shop_path(shop) %><br>
              <%= link_to "変更", edit_shop_path(shop) %><br>
              <%= link_to "削除", delete_shop_path(shop), :method => 'patch', data: {confirm: "本当に削除しますか？"}%>
          </tr>
        <% end %>
      </table>
    </div>

    <br><%= paginate @shops %>
  </div>
<% else %>
  <%= render 'layouts/notfound' %>
<% end %>
