<% provide(:title, 'SHOP詳細') %>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <div class="shop-show">
        <h2 class="title">
          <%= @shop.name %><br>
          <% rate_value = @shop.rate.to_s %>
          <% rate_value = rate_value.gsub(/[.]/, '-') %>
          <div class="rate rate<%= rate_value %>"></div>
        </h2>
        <div class="body">
          <div class="image-container">
            <% if @shop.image1? %>
              <div class="image">
                <%= image_tag(@image1_path, class: "shop-image", align: "center") %>
              </div>
            <% end %>
            <% if @shop.image2? %>
              <div class="image">
                <%= image_tag(@image2_path, class: "shop-image", align: "center") %>
              </div>
            <% end %>
            <% if @shop.image3? %>
              <div class="image">
                <%= image_tag(@image3_path, class: "shop-image", align: "center") %>
              </div>
            <% end %>
          </div>
          <div class="detail"><%= markdown(@shop.detail).html_safe %></div>
          <div id="map"></div>
          <script type="text/javascript">
              handler = Gmaps.build('Google');
              handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
                markers = handler.addMarkers(<%=raw @map.to_json %>);
                handler.bounds.extendWith(markers);
                handler.fitMapToBounds();
                handler.getMap().setZoom(15);
              });
          </script>
          <div class="column-name">地域</div>
          <%= @shop.area %>
          <div class="column-name">住所</div>
          <%= @shop.address %>
          <div class="column-name">URL</div>
          <%= link_to @shop.url, "#{@shop.url}" %>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <%= render 'layouts/sidebar' %>
    </div>
  </div>
</div>
