<header>
  <nav class="navbar">
    <div class="container">
      <% if logged_in? %>
        <%= button_to 'Logout', admin_login_logout_path, class: 'btn btn-warning logout-button' %>
      <% end %>
      <div class="main-title">
        <a href="/"><h1>HUMNAVI</h1></a>
      </div>
      <% if logged_in? %>
        <nav>
          <ul class="nav navbar-nav">
            <li><%= link_to "TABLES", manage_table_list_path %></li>
            <li><%= link_to "SHOPS", shops_path %></li>
            <li><%= link_to "TIPS", tip_genres_path %></li>
            <li><%= link_to "CONTACT_MANAGE", contacts_path %></li>
          </ul>
        </nav>
      <% end %>
    </div>
  </nav>
</header>
