<div id ="sidebar-area" class="sidebar">
  <!-- エリアごとの検索用 -->
  <h3 class="sidebar-title"><a href="/"><span class="glyphicon glyphicon-map-marker"></span> エリア</a></h3>
  <div id="sidebar-area-content">
    <% @area_search_info.each do |shop_hash| %>
      <a href="/?area=<%= shop_hash.first %>">
        <div class="column">
          <%= shop_hash.first %> (<%= shop_hash.second %>)
        </div>
      </a>
    <% end %>
  </div>
</div>
<div id ="sidebar-genre" class="sidebar">
  <!-- ジャンルごとの検索用 -->
  <h3 class="sidebar-title"><a href="/"><span class="glyphicon glyphicon-cutlery"></span> ジャンル</a></h3>
  <div id="sidebar-genre-content">
    <% @genre_tag_search_info.each do |genre_info| %>
      <a href="/?genre_tag=<%= genre_info.first %>">
        <div class="column">
          <%= genre_info.first %> (<%= genre_info.second %>)
        </div>
      </a>
    <% end %>
  </div>
</div>

<!-- アフェリエイト -->
<!-- pcページ -->
<% if !is_sp_device? %>
  <div class="affiliate-list">
    <div class="affiliate-item">
      <a href="https://px.a8.net/svt/ejp?a8mat=2TL1JG+7DJCKY+3NWC+631SX" target="_blank" rel="nofollow">
        <img border="0" width="250" height="250" alt="" src="https://www24.a8.net/svt/bgt?aid=170622988446&wid=001&eno=01&mid=s00000017094001022000&mc=1">
      </a>
      <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TL1JG+7DJCKY+3NWC+631SX" alt="">
    </div>
    <div class="affiliate-item">
      <a href="https://px.a8.net/svt/ejp?a8mat=2TL1JG+7YDIR6+3PFM+5ZMCH" target="_blank" rel="nofollow">
      <img border="0" width="250" height="250" alt="" src="https://www25.a8.net/svt/bgt?aid=170622988481&wid=001&eno=01&mid=s00000017293001006000&mc=1"></a>
      <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TL1JG+7YDIR6+3PFM+5ZMCH" alt="">
    </div>
    <div class="affiliate-item">
      <a href="https://px.a8.net/svt/ejp?a8mat=2TL0RO+3VBGC2+1YGO+6BEQ9" target="_blank" rel="nofollow">
        <img border="0" width="250" height="250" alt="" src="https://www29.a8.net/svt/bgt?aid=170621988234&wid=001&eno=01&mid=s00000009132001061000&mc=1">
      </a>
      <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2TL0RO+3VBGC2+1YGO+6BEQ9" alt="">
    </div>
  </div>
<% else %>
<!-- spページ -->
<div class="affiliate-list-sp">
  <div class="affiliate-item-sp col-xs-4">
    <a href="https://px.a8.net/svt/ejp?a8mat=2TL1JG+7DJCKY+3NWC+631SX" target="_blank" rel="nofollow">
      <img border="0" width="210" height="210" alt="" src="https://www24.a8.net/svt/bgt?aid=170622988446&wid=001&eno=01&mid=s00000017094001022000&mc=1">
    </a>
    <img border="0" width="1" height="1" src="https://www15.a8.net/0.gif?a8mat=2TL1JG+7DJCKY+3NWC+631SX" alt="">
  </div>
  <div class="affiliate-item-sp col-xs-4">
    <a href="https://px.a8.net/svt/ejp?a8mat=2TL1JG+7YDIR6+3PFM+5ZMCH" target="_blank" rel="nofollow">
    <img border="0" width="210" height="210" alt="" src="https://www25.a8.net/svt/bgt?aid=170622988481&wid=001&eno=01&mid=s00000017293001006000&mc=1"></a>
    <img border="0" width="1" height="1" src="https://www18.a8.net/0.gif?a8mat=2TL1JG+7YDIR6+3PFM+5ZMCH" alt="">
  </div>
  <div class="affiliate-item-sp col-xs-4">
    <a href="https://px.a8.net/svt/ejp?a8mat=2TL0RO+3VBGC2+1YGO+6BEQ9" target="_blank" rel="nofollow">
      <img border="0" width="210" height="210" alt="" src="https://www29.a8.net/svt/bgt?aid=170621988234&wid=001&eno=01&mid=s00000009132001061000&mc=1">
    </a>
    <img border="0" width="1" height="1" src="https://www10.a8.net/0.gif?a8mat=2TL0RO+3VBGC2+1YGO+6BEQ9" alt="">
  </div>
</div>
<% end %>
