<!DOCTYPE html>
<html>
  <head>
    <%
     set_meta_tags :site => '厳選ハンバーガーマガジン',
                   :description => '厳選ハンバーガーを紹介するグルメナビサイト。各地域で美味しいハンバーガーをランキングし、値段や地図に加えておしゃれさや店員の態度などの情報を提供。',
                   :keywords => 'ハンバーガー, humberger, HUMNAVI, 池袋, Ikebukuro, グルメ, 厳選, 厳選ハンバーガー',
                   :canonical => request.original_url,
                   :reverse => true
    %>
    <%= display_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
    <%= javascript_include_tag '//maps.google.com/maps/api/js?v=3.13&key=AIzaSyDXoULvL5Mjma3g18feLkLoRgO3Hx2j0zk&amp;libraries=geometry' %>
    <%= csrf_meta_tags %>
    <%= analytics_init if Rails.env.production? %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
